footer {
  padding: 40px 60px 20px 60px;
  background-color: #212529;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer-contain {
  display: flex;
  justify-content: space-between;
}

.footer-contain span {
  font-size: 22px;
  color: white;
}

footer ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 20px;
  margin-top: 30px;
}

footer li {
  color: white;
  font-size: 18px;
  color: #e5e5e5;
  opacity: 0.5;
}

footer li a {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
}

footer li a:hover {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.social-list {
  display: flex;
  flex-direction: row;
}

.social-elmt {
  opacity: 1;
}

.social-elmt i {
  font-size: 20px;
  color: white;
}

.footer-copyright {
  text-align: center;
  color: white;
}

/**** Responsive mobile ****/

@media screen and (max-width: 768px) {
  footer {
    padding: 10px 0;
    gap: 10px;
    margin-top: 15px;
  }

  .footer-contain {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .footer-contain span {
    font-size: 18px;
  }

  footer ul {
    gap: 10px;
    margin-top: 10px;
  }

  .footer-copyright {
    font-size: 12px;
  }
}
