body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: 'League Spartan', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

/**** bouton modification ****/

.btn-modif {
  border: none;
	font-size: 14px;
	background: #FFFFFF;
  color: black;
  margin: 0;
  height: auto;
}

.btn-modif:hover {
  cursor: pointer;
}